<div>
<ol class="breadcrumb">
  <li><%= link_to_unless_current("All Skis", { controller: "skis", action: "index" }) %></li>
  <li><%= link_to_unless_current("All Listings", { controller: "listings", action: "index" }) %></li>
  <% if admin? == false %>
    <li>My Listings</li>
  <% end %>
</ol>
</div>

<nav class="navbar navbar-default navbar-fixed-top">
  <div id="navbar-login"class="container col-sm-offset-9 col-sm-3">
    <% if admin? %>
      Signed in as Admin | <%= link_to "Logout", logout_path %>
    <% elsif current_user %>
      Signed in as <%= current_user.username %> | <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
    <% end %>
  </div>
</nav>
