<h1>Add A Listing To <%= @ski.name %></h1>

<%= form_for(:seller, url: seller_ski_listings_path(@ski, @listing)) do |f| %>
  <%= f.label :price %>
  <%= f.text_field :price %></br>
  <%= f.label :image %>
  <%= f.text_field :image %>

  <%= f.submit "Create Listing" %>
<% end %>
