<h1>Add New Ski</h1>

<%= form_for(@ski) do |f| %>
<ul>

  <li>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </li>

  <li>
    <%= f.label :brand %>
    <%= f.text_field :brand %>
  </li>

  <li>
    <%= f.label :width %>
    <%= f.text_field :width %>
  </li>
  <li>
    <%= f.label :length %>
    <%= f.text_field :length %>
  </li>

  <li>
    <%= f.label :category_id %>
    <%= f.text_field :category_id %>
  </li>

  <li>
    <%= f.label :gender_id %>
    <%= f.text_field :gender_id %>
  </li>

  <!-- <li>
    <%= f.label :image %>
    <%= f.text_field :image %>
  </li> -->

  </br>

  <%= f.submit %>
  </ul>
<% end %>
