<h1>Add New Ski</h1>

<%= form_for(:admin, url: admin_skis_path(@ski)) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :brand %>
    <%= f.text_field :brand %>

    <%= f.label :width %>
    <%= f.text_field :width %>

    <%= f.label :length %>
    <%= f.text_field :length %>

    <%= f.label :category_id %>
    <%= f.text_field :category_id %>

    <%= f.label :gender_id %>
    <%= f.text_field :gender_id %>

  </br>

  <%= f.submit %>
<% end %>
