<h1>Add New Ski</h1>

<%= form_for(:admin, url: admin_skis_path(@ski)) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :brand %>
    <%= f.text_field :brand %>

    <%= f.label :width %>
    <%= f.text_field :width %>

    <%= f.label :length %>
    <%= f.text_field :length %>

    <%= f.label :category_id %>
    <%= collection_select( :ski, :category_id, Category.all, :id, :name, {:prompt => 'Select category'}, {:multiple => false } ) %>

    <%= f.label :gender_id %>
    <%= collection_select( :ski, :gender_id, Gender.all, :id, :name, {:prompt => 'Select gender'}, {:multiple => false } ) %>

  <%= f.submit %>
<% end %>
